{% include 'base.html' %}

{% block style %}
    <style>
        .col-centered {
            margin: 0 auto;
            float: none;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center">Color Palette Generator</h1>
    </div>

    <div class="row">
        <div class="col-centered col-6">
            <form method="post" action="{{ url_for('index') }}">
                {{ form.csrf_token }}
                <div class="form-group">
                    {{ form.image_url(placeholder="Enter Image URL", class="form-control", id="url-input") }}
                </div>
                {{ form.submit(class="btn btn-primary") }}
            </form>
        </div>
    </div>


{% endblock %}
